*{
    margin: 0;
    padding: 0;
}


main{
    background-color: whitesmoke;
    height: 100vh;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.col{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

img{
    min-height: 15rem;
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 15rem;
}

